.title{
    color:rgb(214, 232, 233);
    font-family:cursive;
    background-color: cadetblue;
    padding-bottom: 20px;
}

div ul li a{
    color: rgb(221, 204, 191);
    
}
div ul li{
    list-style-type:none;
    color: chocolate;
    text-align:center;
    
}

div ul li a:hover{
    text-transform: uppercase;
 color: rgb(20, 19, 19);
}

.top{
    background-color: rgb(72, 105, 105);
    margin-bottom: auto;
}
.hline{
background-size: contain;
background-color:rgb(76, 76, 129) ;
margin-bottom: auto;
margin-top:auto;
}

