body{
    background-color:rgb(221, 204, 181);
}

.jumbotron{
    border-radius: 15px;
    background-color: aliceblue;
}

.title{
    color:rgb(68, 189, 196);
    font-family:cursive;
    background-color: cadetblue;
    padding-bottom: 20px;
}

div ul li a{
    color: rgb(221, 204, 191);
    
}
div ul li{
    list-style-type:none;
    color: chocolate;
    text-align:center;
    
}

div ul li a:hover{
    text-transform: uppercase;
 color: rgb(20, 19, 19);
}

.top{
    background-color: rgb(72, 105, 105);
    margin-bottom: auto;
    border-radius: 15px;
}
.hline{
background-size: contain;
background-color:rgb(107, 107, 138) ;
margin-bottom: auto;
margin-top:auto;
text-align: center;
border-radius: 15px;
}

.footer {
    position: relative;
    clear:both;
    background-color: #465362;
    width: 100%;
    color: #F4FFFD;
    border-radius: 15px;
}

.display-4{
    text-align: center;
}

.photos{
    text-align: center;
    display: inline;
}

#photo1, #photo2, #photo3, #photo4{
    height: 200px;
    width: 200px;
   border-radius: 15px;
}

#photo1:hover, #photo2:hover, #photo3:hover, #photo4:hover {
    transform: scale(1.5);
    animation-duration: 1s;
   animation-name: zoomin;
}


@keyframes zoomin {
    from{
    width: 100px;
    height: 100px;
}

    to{
        width: 200px ;
        height: 200px ;

    }
}


* {
    box-sizing: border-box;
  }
.tiers {
    float: left;
    width: 33.3%;
    padding: 8px;
    background-color: azure;
    border-radius: 15px;
  }

  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }

  .price .header {
    background-color: rgb(55, 106, 119);
    color: rgb(133, 34, 133);
    font-size: 25px;
  }

  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }

  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }

  .entry{
      border-radius: 10px;
  }